nav{
    background-color: #e8e8e8;
  }
  nav .name{
    float: left;
    padding-left:14px;
    font-size: 16px;
  }
  nav a{
    padding:0px 10px 0px 0px;   
    color: #1B92AB;
    font-size: 14px;
    font-weight: normal;
  }
  nav a:hover{
    color: #1B92AB;
  }

  