/*
Last Modified: 8/6/2021 4:17:03 PM
 */

/*
reset-password 1_0_0 (ok)
tp383 1_0_1 (ok)

(c) JustAnswer Corp
80ee456322fd-es-m2
 */

.reset-password #JA_secretQuestionForm {
    padding: 10px 0
}

.reset-password #JA_secretQuestionForm .JA_title {
    position: relative;
    padding-right: 15px
}

.reset-password #JA_secretQuestionForm .JA_askMeLaterLink {
    margin-left: 2em
}

.reset-password #JA_informationIsSecureRow {
    padding-top: 12px;
    padding-bottom: 18px
}

.reset-password #JA_tos {
    width: 300px;
    padding-bottom: 1em
}

.reset-password .JA_importantText {
    font-weight: bold;
    color: red
}

.reset-password .JA_guestSignInImportantModule {
    padding-top: 27px;
    font-size: 1.1em;
    line-height: 1.5
}

.reset-password .JA_newUser {
    position: relative
}

.ff .reset-password .JA_newUser, .ie7 .reset-password .JA_newUser {
    top: 15px
}

.ff .reset-password .JA_literal_title .JA_newUser, .ie7 .reset-password .JA_literal_title .JA_newUser {
    top: 11px
}

.ie .reset-password .JA_input {
    padding-top: 15px
}

.reset-password #JA_secretQuestionForm tr td {
    position: relative;
    padding-left: 10px
}

.reset-password #JA_informationIsSecureRow img {
    position: relative;
    top: 4px
}

.reset-password .JA_informationIsSecureText {
    font-weight: bold;
    padding-left: 3px
}

.reset-password .JA_button {
    margin: 15px 0
}

.reset-password .JA_side_link {
    padding-left: 15px
}

.reset-password span.JA_secret_question {
    width: 250px
}

.reset-password .JA_error {
    padding-top: 10px;
    width: 325px
}

.reset-password #JA_mainPane p {
    font-size: 1.1em
}

.reset-password span.JA_field {
    vertical-align: top;
    width: 150px
}

.reset-password th.JA_title {
    padding-top: 5px
}

.home-page-unified #JA_headerLogo {
    width: 56%
}

#JA_McAfeeLogo {
    float: right;
    width: 94px;
    margin-top: 19px
}

.home-page-unified #JA_McAfeeLogo {
    float: left
}

.qa-guest-hiw .DateLabel {
    text-align: center
}

/* ******************************************************************* */

/*
Last Modified: 8/5/2021 10:36:24 PM
 */

/*
tp383 1_0_1 (ok)

(c) JustAnswer Corp
56322fd-es-m2
 */

/* .home-page-unified #JA_headerLogo {
    width: 56%
}

#JA_McAfeeLogo {
    float: right;
    width: 94px;
    margin-top: 19px
}

.home-page-unified #JA_McAfeeLogo {
    float: left
}

.qa-guest-hiw .DateLabel {
    text-align: center
} */

/* *************************************************************** */

/*
NoScript 1_0_0 (ok)
CreditCardFormControl 1_0_0 (ok)
popup 1_0_0 (ok)
newsletter-subscription-popup 1_0_0 (ok)

(c) JustAnswer Corp
330cc32ce443a6c4423c-es-m2
 */

a.script, b.script, blockquote.script, br.script, code.script, col.script, colgroup.script, div.script, dl.script, em.script, fieldset.script, form.script, h1.script, h2.script, h3.script, h4.script, h5.script, h6.script, hr.script, i.script, img.script, input.script, label.script, li.script, ol.script, p.script, pre.script, select.script, span.script, strong.script, table.script, tbody.script, td.script, tr.script, textarea.script, ul.script {
    display: none
}

.ie6 col.script, .ie7 col.script, .ie6 colgroup.script, .ie7 colgroup.script, .ie6 table.script, .ie7 table.script, .ie6 tbody.script, .ie7 tbody.script, .ie6 td.script, .ie7 td.script, .ie6 tr.script, .ie7 tr.script {
    display: none
}

blockquote.noscript, div.noscript, dl.noscript, fieldset.noscript, form.noscript, h1.noscript, h2.noscript, h3.noscript, h4.noscript, h5.noscript, h6.noscript, hr.noscript, ol.noscript, p.noscript, pre.noscript, ul.noscript {
    display: block
}

a.noscript, b.noscript, br.noscript, code.noscript, em.noscript, i.noscript, img.noscript, input.noscript, label.noscript, select.noscript, span.noscript, strong.noscript, textarea.noscript {
    display: inline
}

li.noscript {
    display: list-item
}

table.noscript {
    display: table
}

tbody.noscript {
    display: table-row-group
}

td.noscript {
    display: table-cell
}

col.noscript {
    display: table-column
}

colgroup.noscript {
    display: table-column-group
}

tr.noscript {
    display: table-row
}

.ie6 col.noscript, .ie7 col.noscript, .ie6 colgroup.noscript, .ie7 colgroup.noscript, .ie6 table.noscript, .ie7 table.noscript, .ie6 tbody.noscript, .ie7 tbody.noscript, .ie6 td.noscript, .ie7 td.noscript, .ie6 tr.noscript, .ie7 tr.noscript {
    display: block
}

#JA_creditCardForm li {
    cursor: pointer;
    display: inline
}

#JA_ccTypeButtons {
    height: 36px;
    padding-left: 8px
}

#JA_ccTypeButtons li {
    padding: 5px 0 0 5px
}

#JA_ccTypeButtons label {
    padding: 0 0 0 10px
}

#JA_ccImages, #JA_ccImages li {
    margin-left: 4px
}

#JA_ccFormTitles {
    float: left;
    padding: 10px 5px 0 0;
    *padding: 12px 5px 0 0;
    height: 100px
}

#JA_ccFormTitles h3 {
    font-size: 1em;
    font-weight: bold
}

.JA_formTable td {
    padding: 5px 0;
    vertical-align: middle
}

.JA_formTable .JA_labelCell {
    padding-right: 10px
}

#JA_ccFormAddress td {
    padding-left: 10px
}

.JA_formTable .JA_radio {
    margin: 0 10px
}

#JA_expirationMonth, #JA_expirationYear {
    margin-right: 15px;
    width: 80px;
    text-align: left
}

#JA_cardTypeSelect {
    width: 150px
}

#JA_ccTypeButtonSelect {
    display: none
}

#JA_ccTypeButtonError {
    margin-left: 38px
}

h3.JA_formTitle {
    font-size: 1em;
    font-weight: bold;
    margin: 15px 0
}

td h3.JA_formTitle {
    margin: 5px 0 0 0
}

#JA_country {
    width: 150px
}

#JA_ccFormAddress td {
    padding-right: 10px
}

#JA_state {
    width: 2em
}

#JA_zip {
    width: 9ex
}

#JA_txError {
    margin: 15px 0
}

.JA_popup_control {
    display: none
}

.JA_popup_control.visible {
    display: block
}

.JA_popup_control .JA_popup_container {
    position: fixed;
    z-index: 120
}

.JA_popup_control .JA_popup_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.JA_popup_control.default {
    border: 0
}

.JA_popup_control.default .JA_popup_container {
    background-color: white;
    border: 3px solid #F90;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.JA_popup_control.default .JA_popup_header {
    background-color: transparent;
    padding: 0;
    position: static
}

.JA_popup_control.default .JA_popup_header H3 {
    font-size: 1.6em;
    margin: 18px 0 0 19px
}

.JA_popup_control.default .JA_popup_header .JA_popup_controls {
    padding: 0;
    margin: 10px 12px 0 0
}

.JA_popup_control.default .JA_popup_header .JA_popup_controls A {
    margin-left: 5px
}

.JA_popup_control.default .JA_popup_body {
    font-size: 1.1em;
    margin: 15px 0 0 22px;
    line-height: 1.4em
}

.JA_popup_control.default .JA_popup_overlay {
    background: #000;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .5
}

ul.JA_checklist {
    list-style-image: url(/img/icons/checklist-checkmark.gif);
    list-style-position: inside
}

#NewsletterSubscription .JA_popup_container {
    border-color: #1b92ab;
    width: 780px;
    padding-bottom: 30px
}

.lang-de-DE #NewsletterSubscription .JA_popup_container {
    background: url("/img/popup/newsletter-subscription-popup-bg-de.jpg") no-repeat scroll 465px 25px white
}

.lang-es-ES #NewsletterSubscription .JA_popup_container {
    background: url("/img/popup/newsletter-subscription-popup-bg-es.jpg") no-repeat scroll 465px 25px white
}

#NewsletterSubscription .content {
    margin-bottom: 12px
}

#NewsletterSubscription .content .JA_column_left {
    width: 430px
}

#NewsletterSubscription .content .option.selected {
    font-weight: bold
}

#NewsletterSubscription .JA_popup_container span.reg-sign {
    color: black;
    font-size: 12px
}

#NewsletterSubscription .content .JA_column_right {
    margin-top: 220px;
    width: 300px
}

#NewsletterSubscription .content .JA_checklist {
    padding: 8px 0 0 40px
}

#NewsletterSubscription .content .JA_checklist li {
    line-height: 30px
}

#NewsletterSubscription .content .JA_checklist li strong {
    line-height: 25px;
    vertical-align: top
}

#NewsletterSubscription .content input[type='radio'] {
    vertical-align: top
}

#NewsletterSubscription .btn-submit-container {
    text-align: left;
    padding: 40px 0 0 60px
}

#NewsletterConfirmation .JA_popup_container {
    border-color: #1b92ab;
    padding-bottom: 30px
}

#NewsletterConfirmation .content {
    padding-bottom: 40px
}

#NewsletterConfirmation .JA_popup_container .JA_popup_body {
    margin: 15px 22px 0
}