body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
nav .u-name{
  color:#fff;
}
nav a{
  color:#fff;
}
nav span{
  float: right;
}
nav .u-name a :hover{
  color:#fff;
}
nav{
  padding:2px 0px;
  background-color: #e8e8e8;
}
nav .name{
  float: left;
  padding-left:14px;
  font-size: 16px;
}
nav a{
  padding:0px 10px 0px 0px;   
  color: #1B92AB;
  font-size: 14px;
  font-weight: normal;
}
nav a:hover{
  color: #1B92AB;
}
.top-menu  {
  text-align: right;
  text-align: right;
}
.categories {
    width: 985px;
    margin: 0 auto;
}
.categories img{
  height: 64px;
  margin-left: 14px;
  width: 166px;
}
.categories .Pregunte{
    color:rgb(248, 101, 43);
    padding-left:60px;
    line-height: 1.5;
    font-weight: 600;
}
.categories span{
    color: #444;
    display: inline;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align:-23px;
    margin-left:10px;
}
.categories h5{
    font-size: 17px;
    width: 85%;
}
.categories .abogados{
    font-size: 15px;
    vertical-align: 1px;
}
.categories .arrow{
    height: 12px;
    width: 21px;
}
.categories ul {
    list-style-type: none;
}
.categories .subcategories{
   /* margin-left:30px; */
   margin-left: 19px;
    margin-bottom: -37px;
}
.categories .subcategories select{
  BACKGROUND-COLOR: aliceblue;
    border: 1px solid #608dcc;
    border-radius: 8px;
    padding: 6px 8px;
}
.categories .box{
    border:1px solid rgb(118, 171, 221);
    background-image: linear-gradient(to bottom right, #fff, rgb(158, 219, 238));
    border-radius: 5px;
    color:#fff;
    width:75%;
    margin-left:150px;
}
.categories h6{
    margin-left: 150px;
}
.categories a{
    color:rgb(122, 161, 219);
    padding-left: 60px;
}
.categories .question{
    height: 20px;
    width: 25px;
}
.categories .asist{
    height: 27px;
    width: 25px;
}
.categories .satisfied{
    height: 33px;
    width: 31px;
}
.categories .text p{
   font-size:12px;
   margin: 0 0 10px 0;
   padding: 0;
}
.img-panel{
    margin-top:40px;
    position:relative;
}

.img-panel .bg-img{
    background-image: url('/images/main-panel.jpg');
    background-repeat:no-repeat;
    width:100%;
    height:350px;
}
.img-panel .bg-img .placeholder {
  bottom: auto;
  color: #999;
  font-family: arial;
  position: absolute;
  text-align: center;
  top: 59px;
  left: 50px;
  z-index: 99;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.img-panel p{
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding:23px;
    line-height: 20px;
    margin-left: 20px;
    
}
.img-panel textarea{
    margin-top: 38px;
    background: none repeat scroll 0 0 transparent;
    border: 0;
    background-color: #fff;
    font: 1em Verdana,Arial,sans-serif;
    height: 170px;
    overflow: auto;
    margin-left: 42px;
    position: relative;
    width: 98%;
    z-index: 1;
}
.img-panel .ribbon {
    background-image: url('/images/ribbon.png');
    background-repeat: no-repeat;
    padding: 9px 10px;
    height: 128px;
    font-size: 14px;
    margin-right: 1px;
    margin-left: -21px;
    /* margin-right: -1px; */
    margin-top: 158px;
}
.img-panel .ribbon p{
    color:#fff;
    padding-top:0px;
    margin:0px;
    font-size: 17px;
}
.img-panel .bg-img h5{
    font-size: 15px!important;
    width: 85%!important;
    padding: 27px 44px!important;
    color: #fff!important;
}
.img-panel .bg-img .continue{
    margin-top: -112px;
    margin-left: 349px;
}
.carousel{
    margin-top: 50px;
    background-color:#000;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
  }
  .legal-section .box{
      background-image: linear-gradient(to bottom right, #fff, rgb(158, 219, 238));
  }
  .legal-section .box p{
      padding:7px 15px;
      border-top:1px solid rgb(238, 116, 34)!important;
      font-weight: 600;
  }
  .legal-section .box p a{
    color: #000 !important;
  }
  .legal-section .box p  span{
      font-size: 12px;
  }
  .legal-section{
        width: 985px;
        margin:50px auto;
  }
  .legal-section .table-box{
    border: 4px solid #f90;
  }
  .legal-section .table-box {
    float: left;
  }
  .legal-section .table-box .header{
    background-color: #f90!important;
    color: #fff;
    margin-top: 7px;
    font-size: 1em;
    line-height: 2em;
    overflow: hidden;
    padding: .12em 16px .3em 8px;
  }
  .legal-section .table-box .link{
      float: left;
  }
  .legal-section .text{
    margin-bottom: 5px; 
    color: #777; 
    /* padding: 0 15px;  */
    position:relative; 
    font-family: Arial; 
    font-size: 14px; 
    display: block;
  }
  .legal-section .show-more-height{
      height: 270px; 
      overflow:hidden; 
  }
  .legal-section .show-more:hover{
    color:#f90;
  }
  .legal-section .show-more{
    margin: -20px auto;
    float: right;
    cursor: pointer;
  }
  .legal-section .table-box ul{
      list-style-type: none;
      padding-left: 0px;
  }
  .legal-section .table-box .date{
      float: right;
      font-size: 13px !important;
      /* padding-left:30px; */
      padding-top:8px;
  }
  .legal-section .table-box .h-date{
     margin-right: 26px;
    font-size: 18px;
    padding-top: 0px;
    font-weight: 700;
  }

.legal-section .table-box .table-item{
    border-bottom: 1px solid #ccc;
    clear: both;
    font-size: 1.2em;
    height: 1.8em;
    padding: .3em 50px .4em 10px;
    position: relative;
    overflow: hidden;
    display: block;
}
.legal-section .table-box .table-item a{
    font-size: 13px;
}
.legal-section .table-box .table-data a{
    background: #fff;
    font-weight: bold;
    height: 100%;
    text-overflow: ellipsis;
    padding: .04em 65px 0 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    width: 100%;
}
.legal-section .table-box .navigate{
    /* text-align: right; */
    padding: 1em 30px;
    font-size: 1.2em;
}
.legal-section .navigate a{
    float: right!important;
    font-size: 16px;
}
.legal-section  .navigate a:hover{
    color: #f90;
}
.social-section {
    margin-left: 664px;
    display: flex;
    margin-top:20px;
}
.social-section .btn{
    position: relative;
    height: 22px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.social-section .t-icon{
   height: 18px;
}
.social-section .social-btn{
    margin-left:9px;
}
.social-section .social-btn :hover{
    background-color: #0f77b8;
}

.f-section {
    width: 750px;
    margin:0 auto;
}
.f-section .links{
    border-top: 1px solid #e3e3e3;
    clear: both;
    color: #ad4c4c;
    line-height: 1.5em;
    margin-top: 40px;
    padding-bottom: 1.7em;
    text-align: center;
}
.f-section .links a{
    text-align: center;
    font-size: 13px;
    color:#833f3f;
}
.f-section .links span{
    font-size: 14px;
    color:#833f3f;

}
.f-section .links a:hover{
    color:#f90;
}
/* owl-carouesl */


#owl-demo .item{
    background: #fff;
    /* padding: 30px 0px 0px; */
    padding:1px 0px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  #owl-demo .item p{
    font-size: 10px;
  }
  #owl-demo .item .text-blue{
    color:#1B92AB;
    font-size:1rem;
  }
  #owl-demo2 .item img {
    width: 91px;
    height: 93px;
    border-radius: 50%;
  }
  #owl-demo2 .item .text2{
    color:#000;
    padding-top:35px;
    font-size:13px;
  }
  #owl-demo .item .text{
    color: #000;
    font-size: 0.8rem;
  }
  #owl-demo .item .name{
    color:#ccc;
    font-size:1rem;
  }
   #owl-demo .item .fa{color:#1e49ab;}
   #owl-demo .owl-nav{float: right;}
   #owl-demo .owl-prev{display: inline; margin-right: 14px;}
  #owl-demo .owl-next{display: inline;}
  
   #owl-demo2 .item{
    background: #fff;
    /* padding: 30px 0px 0px; */
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
   #owl-demo2 .item .fa{color: #1e49ab;}
   #owl-demo2 .owl-nav{float: right;}
   #owl-demo2 .owl-prev{display: inline; margin-right: 14px;}
  #owl-demo2 .owl-next{display: inline;}
  
  
  .border-gery{
    border-top:1px solid #f90;
  }
  /* to remove slide effect  css */
   .animated  {
        -webkit-animation-duration : 0 ms  !important;
        animation-duration : 0 ms  !important;
        -webkit-animation-fill-mode : both  !important;
        animation-fill-mode : both  !important;
      }  
      
      
      .fadeOut  {
        -webkit-animation-name : fadeOut  ;
        animation-name : fadeOut  ;
      }  
      @-webkit-keyframes  fadeOut  {
        0% {
          opacity : 0   ;
        }  
        100% {
          opacity : 0   ;
        }  
      }
      @keyframes  fadeOut  {
        0% {
          opacity : 0   ;
        }  
        100% {
          opacity : 0   ;
        }  
      }


    
mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #645e5e;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}












/* @media only screen and (max-width: 600px) {
  .img-panel textarea {
    width: 82%;
    margin-top: 31px;
  }
  .img-panel .bg-img{
    background-image: none;
    background-image: url('/images/main-panel.jpg');
    height: auto;
    width: auto;
    padding-top:20px;
    padding-bottom:40px;
  }
  .img-panel .bg-img .continue{
    margin-top: -121px;
    margin-left: 389px;
}
.img-panel .ribbon{
  margin-left:-85px;
}
  .f-section{
    margin-left: 91px;
  }
 .f-section img{
   padding-top:20px;
 }
} */





@media (min-width:320px) and (max-width: 767px){
  .categories {
    /* width: 985px; */
    margin: 0 auto;
   }
  .categories img {
    height: 64px;
    /* margin-left: 14px; */
    width: 166px;
   }
   .categories .box, h6{
      margin-left:20px!important;
   }
    .legal-section .navigate a{
        margin-right:-107px;
    }
    .social-section{
        margin-left: 596px !important;
    }
    .f-section {
      width: 750px;
      /* margin: 0 auto; */
      /* align-items: center; */
      margin-left: 139px;
 }
}

/* 
@media only screen and (max-width:360px){
   .categories .Pregunte{
      padding-left: 19px;
   } 
  
} */