/*
Last Modified: 8/6/2021 4:17:03 PM
 */
/*
reset-password 1_0_0 (ok)
tp383 1_0_1 (ok)

(c) JustAnswer Corp
80ee456322fd-es-m2
 */
.reset-password #JA_secretQuestionForm{padding:10px 0}.reset-password #JA_secretQuestionForm .JA_title{position:relative;padding-right:15px}.reset-password #JA_secretQuestionForm .JA_askMeLaterLink{margin-left:2em}.reset-password #JA_informationIsSecureRow{padding-top:12px;padding-bottom:18px}.reset-password #JA_tos{width:300px;padding-bottom:1em}.reset-password .JA_importantText{font-weight:bold;color:red}.reset-password .JA_guestSignInImportantModule{padding-top:27px;font-size:1.1em;line-height:1.5}.reset-password .JA_newUser{position:relative}.ff .reset-password .JA_newUser,.ie7 .reset-password .JA_newUser{top:15px}.ff .reset-password .JA_literal_title .JA_newUser,.ie7 .reset-password .JA_literal_title .JA_newUser{top:11px}.ie .reset-password .JA_input{padding-top:15px}.reset-password #JA_secretQuestionForm tr td{position:relative;padding-left:10px}.reset-password #JA_informationIsSecureRow img{position:relative;top:4px}.reset-password .JA_informationIsSecureText{font-weight:bold;padding-left:3px}.reset-password .JA_button{margin:15px 0}.reset-password .JA_side_link{padding-left:15px}.reset-password span.JA_secret_question{width:250px}.reset-password .JA_error{padding-top:10px;width:325px}.reset-password #JA_mainPane p{font-size:1.1em}.reset-password span.JA_field{vertical-align:top;width:150px}.reset-password th.JA_title{padding-top:5px}.home-page-unified #JA_headerLogo{width:56%}#JA_McAfeeLogo{float:right;width:94px;margin-top:19px}.home-page-unified #JA_McAfeeLogo{float:left}.qa-guest-hiw .DateLabel{text-align:center}