body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.reg-header{
    margin:0;
    padding-left:133px;
    z-index: 999;
}
.reg-header strong{
    vertical-align: -26px;
    font-size: 25px;
}
.reg-header p{
    font-weight: bold;
    margin-left: 18px;
    font-size: 36px;
}
.reg-header .content{
    float: right;
}
.reg-header span{
    font-weight: 500;
    font-size: 15px;
}
.heading{
    color: #1b92ab;
    font-size: 1.8em;
    font-weight: bold;
}
.box-section{
    background-color: #eee;
    /* font-family: Helvetica,Arial,"Lucida Grande",sans-serif; */
    /* width: 100%; */
    /* min-height: 100vh; */
    padding:30px 0px;
}
.box-section form{
    padding-left: 281px;
    width: 600px;
    font-size: 20px;

}
.box-section label, select {
    font-size: 1rem;
    color: #5a5858;
    padding-top:20px;
}
.box-section .tele button{
  
    /* border-bottom: none; */
    /* border-right: 1px solid #948b8b; */
    background-color: transparent;
    border: none;
    border: none;
    padding: 0px 5px;
    margin-left: 4px;
    position: absolute;
    margin-left: -66px;

}
.box-section .tele{
    display: flex;
    border-radius: 3px;
    width: 98%;
    background-color: #fff;
}
.box-section form select{
    padding: 4px 0px 6px 2px;
    border: 1px solid #908686;
    border-radius: 4px;
    width: 223px;
}
.box-section sup{
    color:rgb(236, 57, 57);

}
.box-section .name-field input{
    padding: 1px 90px 0px 3px;
    border-radius: 5px;
    border:1px solid #ccc;
}
.box-section .numbro input{
    display: flex;
}
.box-section .numbro button {
    width:10%;
}
.box-section form h4{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.box-section form p{
    font-size: 15px;
}
.telephone{
    display: flex;
    border:1px solid #000;
    /* padding:6px 6px; */
    width:20%;
}