nav{
    background-color: #e8e8e8;
}
.top-menu  {
    text-align: right;
    /* margin-right: 10px; */
    text-align: right;

} 
/* logo__link{
  width: 202px;
  height: 70px;
} */

 .top-menu a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    /* background-color: #e7ebef; */
    /* background-image: url("images/bg-lawyers_optimized.jpg"); */
    height: 100%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    transform-box: view-box;
    box-shadow: 10px 20px #fff;
}
/* .logo-img{
    margin-bottom: 96px;
} */
.userdashboard {
    padding-left:116px;
}
.userdashboard .top-section span{
    /* padding-top: 34px; */
    vertical-align: -22px;
    font-size: 25px;
    padding-left: 9px;
    font-weight: 700;
}
.userdashboard .top-section .Pregunte{
    color:#f90;
    padding-left: 56px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 24px;
}
.userdashboard .user-info{
    padding-left:69px;
    margin-top:60px;
}
.userdashboard .box{
    border-radius: 3px;
    padding:10px;
    border:1px solid #adecf8;
    background-image:  linear-gradient(#fff, #c4e8f0);
    margin-top:20px;
}
.userdashboard .user-info h3{
    color:#1b92ab;

}
.userdashboard input{
    border-radius: 2px;
    border: 1px solid #000;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}
.userdashboard select{
    font-size: 11px;
    padding:2px 4px;
    width:100%;
    border:1px solid #1b92ab;
}
.userdashboard .btn{
    /* background-color:#f90; */
    
    color:#fff;
    /* background-image:  linear-gradient(#e09647, #d65215); */
    background-image: -webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
    margin-top:10px;
    /* font-size: 23px; */
    padding: 1px 35px;
    border-radius: 5px;
}
.footer-part{
    font-size: 14px;
}
.c-box{
    border: 1px solid;
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 0.5;
  white-space: nowrap;
  /* color: inherit; */
}

@media screen and (max-width: 700px) {
    .userdashboard .btn{
        /* background-color:#f90; */
        
        color:#fff;
        /* background-image:  linear-gradient(#e09647, #d65215); */
        background-image: -webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
        margin-top:10px;
        font-size: 14px;
        padding: 1px 35px;
        border-radius: 5px;
    }
    .userdashboard {
        padding-left:0px;
}
.userdashboard table{
    overflow-x: auto !important;
    overflow-y: auto !important;
   
}
.box1{
    margin-bottom: 64px;
}
.table-content{
overflow-x: auto;
}
.userdashboard .btn1 {
  color: #fff;
  background-image: linear-gradient(#e09647, #d65215);
  background-image: -webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
  margin-top: 0px !important;
  font-size: 18px;
 margin-left: 2px; 
   /* padding: 28px 11px -2px !important; */ 
   margin-left: 2px !important;
 padding: 12px; 
  border-radius: 5px;
   margin-top: 13px; */
  margin-bottom: -30px;
    margin-bottom: -2px !important;
}

}



.userdashboard .box1{
    border-radius: 3px;
    padding:0px 0px 0px 8px;
    border:1px solid #adecf8;
    background-image:  linear-gradient(#fff, #c4e8f0);
    margin-top:20px;
}
.userdashboard .box ul{
    list-style-type:none;
    padding-left:0px;
}
/* .userdashboard .box1 p{
    font-weight: ;
} */
.userdashboard .box ul a{
    font-size:13px;
    color:#1b92ab;
}
.userdashboard .box1 ul{
    list-style-type:none;
    padding-left:0px;
}
.userdashboard .box1 ul a{
    font-size:13px;
    color:#1b92ab;
}
.userdashboard .t-row{
    padding-top:5px;
}
.userdashboard h4, p, a{
    color:#1b92ab;
}
.userdashboard p{
    font-size:17px;
}
.userdashboard a:hover{
    color:#f90;
}
.userdashboard .t-content{
    padding-left:40px;
    padding-bottom:14px;
}
.userdashboard table{
    font-size:13px;
    margin-bottom: 34px;
   
}

.userdashboard table input{
    margin-bottom: 0px;
    /* width:30px; */
}
.userdashboard table .r-btn{
   /* color:#000; */
   float: left;
   padding-right:30px;
}

.btn-ro{
  white-space: nowrap;
  margin-right: 12px;
}
.userdashboard .table .t-input{
    width:100%;
}
.userdashboard .btn1{
    color:#fff;
    /* background-image:  linear-gradient(#e09647, #d65215); */
    background-image: -webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
    /* margin-top:40px; */
    font-size: 18px;
     margin-left:40px; 
    padding: 0px 39px;
    border-radius: 5px;
    margin-left: 2px;
}
.userdashboard .rad-text{
    padding-bottom:13px;
}
.table{ 
    border: 1px solid #000; 
    overflow-x: auto;
    overflow-y: auto;
}
.table-data{
    border: none !important;
}


tr,td,th,thead{
     border: 1px solid #000; 
     font-family: Helvetica, Arial, "Lucida Grande", sans-serif;;


}
.table thead th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
thead{
    background-color: #7ed3e0;
    text-align: left;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;;
}
th{
    font-size: 20px;
}
.th-row{
    font-size: 14px;
}
.button {
    border-radius: 4px;
    background-color:#7ed3e0;
    border: none;
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.chart-box{
    width: 110px !important;
}
/* ChartBox */
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background:#fff;
  border-radius: 3px;
  color: rgb(90, 155, 240);
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: right;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #fff;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#000;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}