.Hero-image{
background-image: url('background.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-position: center;
  
} 

a.nav-link 
{
 color: #fff  !important;
 

}
/* .nav-l{
  margin-top: 50px !important;
} */
ul.navbar-nav.nav-l{margin-left: 877px;

  margin-top: 80px;
}

.navbar{
  height: 1px;
}
nav .img-logo{
  width: 100%;
  height: 100%;
  margin-top: 44px;
  margin-left: 24px;
}

.bg-c{
  margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: inherit;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #333;
    line-height: 1.5em;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #f5f5f5;
}
.para-1 {
  font-size: 17px;
    font-weight: 400;
    float: left;
    text-align: left;
    color: #666;
    margin: 5px 32px 5px 12px;
}
.para h1{
  font-size: 3.25rem !important;
    line-height: 2.25rem !important;
    font-weight: 700 !important;
    padding-top: 25px !important;
    text-align: center !important;
    letter-spacing: .5px !important;
    margin-bottom: 20px;
}
nav .img-logo-1{
    width: 174px;
    height: 52px;
    color: #fff;
    margin-left: 25px;
    margin-top: 18px;

}

.nav-h{
  font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    margin-top: 80px;
    color: #fff;
    max-width: 500px;
}
header .item {
  height: 100vh;
  position: relative;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}
.nav-logo-1{
  margin-right: -42px;
    margin-left: 178px;
    margin-top: -27px;
}
.nav-logo{
  color: #fff;
  font-size: 20px !important;
    font-weight: 400 !important;
}
nav{
  margin: 0 auto;
    position: relative;
    z-index: 30;
    margin: -39px;

}
ul.navbar-nav.mr-auto{
  margin-left: 818px;
  margin-top: 62px;
  padding-top: 16px;
  font-size: 16px;
    line-height: 24px;
}
.con-c{
margin-top: -20px;
    width: 100%;
}
.btn {
  user-select: none;
    outline: 0;
    border: 0;
    background: #e85c41 !important;
    text-decoration: none;
    transition: background-color .1s ease-in-out,color .1s ease-in-out,box-shadow .1s ease-in-out;
    cursor: pointer;
    font-weight: 700 !important;
    padding: 12px 24px !important;
    color: #fff !important;
    font-size: 24px !important;
    line-height: 48px !important;
    text-align: center !important;
    display: inline-block !important;
    margin-bottom: 44px;
}
.btn:hover{

  background-color: rgb(236, 12, 12);
}
.nav-h1{
  font-size: 20px;
    line-height: 28px;
    margin-top: 48px;
    font-weight: 400;
    color: #fff;
    font-size: 19px;
    margin-bottom: 37px;
}
.second-part{
  background: #f5f5f5;
  
}
.second-text{
  font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 24px;
}
.nav-pass{
  font-size: 20px;
}
.card-item{
  font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    padding-left: 89px;
}
.card-body{
  padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-image: url;
    background-color: #fff;
    padding-inline: 14px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    box-sizing: border-box;
    
}
.card{
  height: 54px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.card-icon{
  width: 75px;

}

.introduction img{
  width: 450px;
  height: 450px;
  margin-top: -60px;
  margin-left: -103px;
}
.introduction .form-section{
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 14px;
  height: 313px;
  width: 27%;
  min-width: 292px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 24%);
  border-radius: 10px;
}
.introduction p{
  font-size:20px;
}
.introduction input{
  height: 90%;
  width: 100%;
  margin-top: -90px;
  padding: 0 16px;
  border: 0;
  resize: none;
  overflow: hidden;
  overflow-y: auto;
  font-size: 16px;
  line-height: 24px;
}
.introduction input:focus {
  outline: none;
}
.introduction button{
  padding: 9px 103px;
  margin-left: 1px;
  background-color: rgb(236, 106, 45);
  margin-top: 63px;
  color:#fff;
  border-radius: 11px;
  font-size: 20px;
}
.nav-first-line{
  /* margin:0px; */
  margin-top: 0px !important;
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) 
{
  .nav-first-line{
    margin: 0px;
  }

  ul.navbar-nav.nav-l{margin-left: 877px;

    margin-top: 80px;
  }
  img#img-mob.img-logo{
    margin-left: -48px !important;
    width: 75% !important;
    height: 76% !important;
}
 nav.img-logo-1{
  margin-left: -37px !important;
}
  }
  
  .navbar{
    height: 1px;
  }
  nav .img-logo{
      width: 174px;
      height: 52px;
      margin-top: 28px;
      
  }
  nav .img-logo-1{
      width: 174px;
      height: 52px;
      color: #fff;
      margin-left: 0px !important;
      margin-top: 0px !important;
  
  }
  
  .nav-h{
    font-size: 48px;
      line-height: 64px;
      font-weight: 700;
      margin-top: 0px;
      color: #fff;
      max-width: 500px;
  }
  .nav-logo-1{
    margin-right: -42px;
      margin-left: 178px;
      margin-top: -27px;
  }
  .nav-logo{
    color: #fff;
    font-size: 20px !important;
      font-weight: 400 !important;
  }
  nav{
    margin: 0 auto;
      position: relative;
      z-index: 30;
      margin: -39px;
  
  }
  ul.navbar-nav.mr-auto{
    margin-left: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-size: 0px !important;
      line-height: 24px;
  }
  .con-c{
  margin-top: -20px;
      width: 100%;
  }
  .btn {
    user-select: none;
      outline: 0;
      border: 0;
      background: #e85c41 !important;
      text-decoration: none;
      transition: background-color .1s ease-in-out,color .1s ease-in-out,box-shadow .1s ease-in-out;
      cursor: pointer;
      font-weight: 700 !important;
      padding: 12px 24px !important;
      color: #fff !important;
      font-size: 24px !important;
      line-height: 48px !important;
      text-align: center !important;
      display: inline-block !important;
      margin-bottom: 44px;
  }
  .btn:hover{
  
    background-color: rgb(236, 12, 12);
  }
  .nav-h1{
    font-size: 0px !important;
      line-height: 0px !important;
      margin-top: 0px !important;
      font-weight: 0px !important;
      color: #fff;
      font-size: 0px !important;
      margin-bottom: 0px !important;
  }
  .second-part{
    background: #f5f5f5;
    
  }
  .second-text{
    font-size: 0px !important;
      line-height: 0px !important;
      font-weight: 700;
      font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
      padding: 0px !important;
  
}