body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    background: #f5f5f5;
}
.contactus .search__form {
    position: relative;
}
.contactus .bgimg
{
	content: '';
	background-image: url('/images/background-cropped-overlay-60.jpg');
	background-size: cover;	
    background-repeat: no-repeat;
    height:40vh;
    /* padding-bottom:0px; */
}
.mobile-item{
    display: none;
}
.contactus nav .nav-link
{
    color: #fff !important; 
}
nav .navbar-brand img{
    height: 59px;
    width: 166px;
    margin-left: 30px;
}
.contactus .search__input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
    width: 50%;
    position: relative;
    -webkit-appearance: none;
}
.contactus .search-tab{
    margin-left:158px;
}
.contactus .search__input:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
}
input, select, textarea {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    outline: 0;
}
.contactus .search_icon
{  
     /* margin-top: 100px; */
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
}
.contactus .icon{
    height: 39px;
    width: 44px;
    margin-left: -52px;
    position: absolute;
    padding-top: 16px;
}
.contactus .contactlist
{
    border-radius: 4px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    padding: 24px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%);
    background: #fff;
}
.contactus .shift
{
    margin-top:45px;
}
.contactus .logocolor
{
    background-color: none;
}
.contactus .containermargin
{
    margin-top:40px;
}
.contactus .nu_container
{
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: left; */
}
element.style {
    vertical-align: inherit;
}
.contactus .page_header_title
{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.contactus .shiftnav
{
    margin-top:20px;
}
.contactus .resize
{
    margin-left: 150px;
}
.contactus .head{
margin-left:10px ;
margin-bottom: -11px;
/* vertical-align: -8px; */
padding-top: 6px;
}
.contactus .element_margin
{
    margin-left: 48px;
    margin-top: 10px;
}
.contactus .conimgresize
{
    padding-top: 5px;
    width: 36px;
    height: 33px;
}
body{

    font-family: Helvetica,Arial,"Lucida Grande",sans-serif!important;
    text-rendering: optimizeLegibility;
    color: #333;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
}
.contactus .buttoncolor
{
    height: 42px;
    width: 99px;
    margin-top: 50px;
    border:1px solid #e83ed81f;
    background-color:#d6161691; ;
    color:#fff;
}
.contactus .margi{
    width:100%;
    height:48px;
    margin-right:40px;
}
.textbox:hover{
    border:1px solid #39a1bc;
}
.contactus .textmargi{
    width:100%;
    height:48px;
    margin-top:20px;
}
.textbox  input{
    width:100%;
    height:48px;
}
 .contactus .txtb 
{        
    width: 60%; 
   
    height: 48px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /* display: inline-block; */
    text-align: start;
    appearance: auto;
    /* background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
}
.contactus .asterik
{
    color: #ff6464;
    font-style: normal;
}
.contactus .email
{
    margin-left: 50px;
}
.contactus .email1
{
    margin-left: 50px;
    margin-top:43px;
}
.contactus .email2
{
    margin-left: 50px;
    margin-top:40px;
}
.contactus .textcolr
{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 10px;

    
}
.contactus .backcolr
{
    background: rgba(0,0,0,.3);
    padding: 16px 0;

}

.mysidebar .sidebar__list
{ 
    list-style:none;
    padding-left: 22px;
}
.mysidebar .sidebar__link
{
    padding:16px 0 16px 8px
}
.mysidebar .sidebar__link a
{
    display:inline-block;color:#666
}.mysidebar .sidebar__link a:hover
{
    color:#127a95;
    text-decoration:none
}
.contactus .main{
    margin-top:20px ;
    display:flex;
}
.contactus .italictext{
    margin-left: 47px;
}
.mysidebar .sidebar__link--active
{
    font-weight:700;
    border-left:2px solid #39a1bc
}
.mysidebar .sidebar__link--active a
{
    color:#39a1bc
}


.contactus .efb:hover{
    background-color:#39a1bc !important;
    color: #fff !important;
}

.contactus .efb {
    padding: 16px 30px;
    margin-top: 20px;
    border:1px solid #39a1bc;
    background-color: transparent;
    color:#39a1bc;
}
.contactus .accorbutton
{
    border:1px solid #39a1bc;
    background-color: transparent;
    color:#39a1bc;
    margin-left:10px;
}
.contactus .ques
{
    float:right;
}
.contactus .accorbutton:hover{
    background-color:#39a1bc !important;
    color: #fff !important;
}
.contactus .content
{
    margin-bottom: -18px;
}
.contactus .unoredrdesign
{
    margin-right:40px;
    margin-bottom:20px;
}
.contactus .queshelp
    {
        list-style:none;
        
    }
.contactus .margi2
{
    margin-top:20px;
    
}
.contactus .txtb:hover{
    border:1px solid #39a1bc !important;
}
.contactus .accordion {
    background-color:#fff;
    color: #39a1bc;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .contactus .active, .accordion:hover {
    color:#ff6464; 
  }
  
  .contactus .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
footer{
    margin-top:40px;
} 

    footer .listround
    {
        list-style:none;
        
    }
  footer .listround a
  {
    color: #666;

  }
  footer .listround a:hover{
      color:#39a1bc;
  }
  .f-section {
    width: 750px;
    margin:0 auto;
}
.f-section .links{
    border-top: 1px solid #e3e3e3;
    clear: both;
    color: #ad4c4c;
    line-height: 1.5em;
    margin-top: 40px;
    padding-bottom: 1.7em;
    text-align: center;
}
.f-section .links a{
    text-align: center;
    font-size: 13px;
    color:#833f3f;
}
.f-section .links span{
    font-size: 14px;
    color:#833f3f;

}
.f-section .links a:hover{
    color:#f90;
}
.f-section img{
    padding-top:10px;
}







  @media (min-width:320px) and (max-width:768px){
      nav .navbar-brand img{
        height: 49px;
        width: 117px;
      }
      .contactus .resize {
        margin-left: 10px;
      }
      .contactus .textcolr {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        padding-bottom: 7px;
    }
    .contactus .search__input{
        padding: 4px 83px 4px 11px;
        width:88%;
        font-size: 13px;
    }
    .contactus .search-tab{
        margin-left: 10px;
    }
    .contactus .icon {
        height: 33px;
        width: 29px;
        margin-left: -32px;
        position: absolute;
        padding-top: 2px;
  }
  .mobile-item{
      display: inline;
  }
  .contactus .shift {
    margin-top: 7px;
  }
  .containermargin .nu_container{
      /* display: none; */
      visibility: hidden;
  }
  .contactus .efb {
    padding: 11px 103px;
    margin-top: -8px;
    border: 2px solid #39a1bc;
    background-color: transparent;
    color: #39a1bc;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 31px;
    /* margin-left: 135px; */
    margin-left: 31px;
  }
  .mysidebar .sidebar__link {
    padding: 9px 0 11px 8px;
   }
   .contactlist .content b{
    font-size: 19px;
   }
   .contactlist  h6{
    font-size: 14px;
   }
   .contactlist hr{
       padding:0px;
   }
   .contactus .accordion {
      padding:6px 0px 10px 0px;
   }
   .contactus .listround{
       padding-left:0px;
   }
   .f-section {
    width: 223px;
    margin: 0 auto;
   }
 }