
.container {
    margin-top: 20px;
}
img.nav-imf{
    
    width: 171px !important;
    height: 59px !important;
    float: left !important;
    margin-left: -345px !important;
    margin-top: -32px;
}


/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}
.head-line{
    background-color: black !important;
}
.link li a{
    color: #39a1bc;
    text-decoration: none;
}
}
.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.l-first-line{
    display: inline;
}
.slide-1{
    margin-top: -33px;
    
}
.navbar navbar-light bg-dark nav-2{
    margin-bottom: -33px;
    padding: 0;
}
a.nav-link{
    color: #fff;
}
@media screen and (max-width: 700px) {
    img.nav-imf{
    
        width: 171px !important;
        height: 59px !important;
        float: left !important;
        margin-left: -0px !important;
        margin-top: 0px;
    }
    .nav-2{
    
    margin-bottom: -33px;
    padding: 0;
    }
}