/* Styles to be included only when script is available */
/* noscript styles */
a.noscript,
b.noscript,
blockquote.noscript,
br.noscript,
code.noscript,
col.noscript,
colgroup.noscript,
div.noscript,
dl.noscript,
em.noscript,
fieldset.noscript,
form.noscript,
h1.noscript,
h2.noscript,
h3.noscript,
h4.noscript,
h5.noscript,
h6.noscript,
hr.noscript,
i.noscript,
img.noscript,
input.noscript,
label.noscript,
li.noscript,
ol.noscript,
p.noscript,
pre.noscript,
select.noscript,
span.noscript,
strong.noscript,
table.noscript,
tbody.noscript,
td.noscript,
tr.noscript,
textarea.noscript,
ul.noscript { display: none; }

.ie6 col.noscript,
.ie7 col.noscript,
.ie6 colgroup.noscript,
.ie7 colgroup.noscript,
.ie6 table.noscript,
.ie7 table.noscript,
.ie6 tbody.noscript,
.ie7 tbody.noscript,
.ie6 td.noscript,
.ie7 td.noscript,
.ie6 tr.noscript,
.ie7 tr.noscript { display: none; }

/* script styles */
blockquote.script,
div.script,
dl.script,
fieldset.script,
form.script,
h1.script,
h2.script,
h3.script,
h4.script,
h5.script,
h6.script,
hr.script,
ol.script,
p.script,
pre.script,
ul.script { display: block; }

a.script,
b.script,
br.script,
code.script,
em.script,
i.script,
img.script,
input.script,
label.script,
select.script,
span.script,
strong.script,
textarea.script { display: inline; }

li.script { display: list-item; }

table.script { display: table; }

tbody.script { display: table-row-group; }

td.script { display: table-cell; }

col.script { display: table-column; }

colgroup.script { display: table-column-group; }

tr.script { display: table-row; }

.ie6 col.script,
.ie7 col.script,
.ie6 colgroup.script,
.ie7 colgroup.script,
.ie6 table.script,
.ie7 table.script,
.ie6 tbody.script,
.ie7 tbody.script,
.ie6 td.script,
.ie7 td.script,
.ie6 tr.script,
.ie7 tr.script { display: block; }