body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-weight: normal;
}
.yellow{
    color:#f90;
}
nav{
    background-color:#f90;
    padding:2px 0px;
}
nav .u-name{
    color:#fff;
}
nav a{
    color:#fff;
}
nav span{
    float: right;
}
nav .u-name a :hover{
    color:#fff;
}
.user-header .asist-logo{
    height: 62px;
    width: 155px;
}
.radio-btn{
    /* padding-left:0px; */
    width: 26%;
}
.user-header{
    margin:0;
}
.user-header strong{
    vertical-align: -26px;
    font-size: 25px;
}
.user-header p{
    font-weight: bold;
    margin-left: 54px;
    font-size: 17px;
}
.heading{
    color: #1b92ab;
    font-size: 1.8em;
    font-weight: bold;
}
.blue{
    color:#1b92ab;
    font-size: 20px;
}
.user-dash b{
    font-size: 14px!important;
    font-weight:500!important;
}
.user-dash .box, .box2{
    border-radius: 3px;
    padding:8px 0px 0px 8px;
    border:1px solid #adecf8;
    background-image:  linear-gradient(#fff, #c4e8f0);
    margin-top:20px;
}

.user-dash .btn{
    color:#fff;
    background-image:-webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
    margin-top:20px;
    font-size: 18px;
    margin-left:40px;
    margin-bottom: 20px;
    padding: 0px 39px;
    border-radius: 5px;
}
.user-dash input{
    font-size: 10px;
    width: 92%;
    margin-bottom: 10px;
}
.user-dash .form-control{border:1px solid #939ca5;}
.user-dash b{
    font-size: 14px;
}
.user-dash select{
    width: 92%;
    margin-bottom: 10px;
}
.user-dash .btn2{
    color: #fff;
    background-image: -webkit-linear-gradient(top,#ffd08f 0,#fab861 35%,#f28100 42%,#b76819 100%);
    margin-top: 40px;
    font-size: 18px;
    margin-left: 5px;
    padding: 0px 39px;
    border-radius: 5px;
}
.user-dash .forget{
     float: right;
     padding-right: 159px;
}
footer{
    width:500px;
    margin:0 auto;
}
footer p, .color{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
footer p a:hover{
    color:#f90;
}
footer .color{
    color:#ccc;
    font-size:14px;
}





@media only screen and (max-width:767px) {
   .user-dash strong {
    vertical-align: -20px;    
   }
   nav .u-name{
     font-size: 9px;
   }
 }
